<h1> Main Patient Dash !<h1>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>




<a class="waves-effect waves-light btn">add patient</a>


<a class="waves-effect waves-light btn">library</a>


<a class="waves-effect waves-light btn">settings</a>


<!-- Might need to be removed. Rails d controller dashboard  -->
